<script type="text/javascript" src="/js/Convoset.js"></script>

<a href="/">
  <div id="homeButton"> 
    Treebeard 
  </div>
</a>


<div id="fourzerofour">

  <h2> 
    You've found your way into <br />Fangorn Forest.  
  </h2> 

  <img src="http://schelena.files.wordpress.com/2011/11/treebeard.jpg" />

  <h3>
    "There have been no Topics named '<%-url %>', not for a terrible long count of years. 
    You see, we have lost the Entwives."
  </h3>

</div>


