<script type="text/javascript">
  APP.controller('TopicsController', ['$scope', '$rootScope', function ($scope, $rootScope) { 
    $showPublish = false;

    $scope.topicSubmit = function () {
      var tree = Syc.list('Tree');

      var branch = {
          author: LOGIN.username,
          contents: $scope.contents,
          children: []
      }

      tree[$scope.title] = [branch]
    }

    $scope.showLogin = function () { 
      $rootScope.$emit('showLogin');
    }

    $scope.roots = tree;

  }]);
</script>

<!-- Banner and Slogan -->
<header>
  <div id="banner">
    Treebeard
  </div>
  <h1 id="slogan">
    Forums for the thoughtful
  </h1>
</header>



<div id="homepage" ng-controller="TopicsController">
  <ul id="topics">
    <li ng-repeat="root in roots">
      <h4>
        <a href="/{{root.contents}}/">{{root.title}}</a>
        by
        {{root.author}}
      </h4>
    </li>
  </ul>


  <h2 id="publishHeader" class="buttbuddies" ng-click="showPublish = !showPublish">New Topic</h2>
  <h2 id="loginButton" class="buttbuddies" ng-click="showLogin()">Login</h2>

  <div id="publish" ng-show="showPublish">
    <form id="publishForm" ng-submit="topicSubmit()">
      <input type='text' ng-model='title' placeholder='Title' />
      <textarea ng-model='contents' placeholder='Make a bold claim'></textarea>
      <input type='submit' />
      <i id="closePublish" class="fa fa-times-circle fa-lg" ng-click="showPublish = false"></i>
    </form>
  </div>

</div>
