<script type="text/javascript" src="/js/Convoset.js"></script>

<script type="text/javascript">
  function newTopic (title, link, contents, author) {

    set = new Convoset();

    json = {
      title: title,
      link: link,
      contents: contents,
      author: author,
      timestamp: new Date(), 
    }
    return set.JsonToRoot(json);
  }
</script>


<script type="text/javascript">
  var debug;

  APP.controller('TopicsController', ['$scope', function ($scope) { 

    $scope.topicSubmit = function () {
      if (LOGIN.status === 'participant') { 
        topic = newTopic($scope.title, $scope.link, $scope.contents, LOGIN.username);
        IO.emit("buildTopic", {root: topic.toJson()});
      } else { 
        // TODO: Show the login dialog box when you're not logged in.
        console.log('not logged in');
      }
    }

    IO.on('builtTopic', function (data) { 
      if (data.status === 'success') {
        window.location.href = "/" + data.url + "/";
      }
      else if (data.status === 'failure') {
        // TODO: Add in a failure message to users.
        console.log("can't create a new topic, " + data.error);
      }
    });

    $scope.roots = <%- roots %>; 
    debug = $scope.roots;

  }]);
</script>

<h2>Select a topic</h2>

<div ng-controller="TopicsController">
  <ul>
    <li ng-repeat="root in roots">
      <h4><a href="/{{root.slug}}/">{{root.title}}</a></h4>
      <h5>{{root.author}}</h5>
      <p>{{root.contents}}</p>
    </li>
  </ul>


  <h3>New Topic</h3>
  <form ng-submit="topicSubmit()">
    <input type='text' ng-model='title' placeholder='Title' />
    <input type='text' ng-model='link' placeholder='Link' />
    <textarea ng-model='contents'></textarea>
    <input type='submit' />
  </form>

</div>






