<script type="text/javascript">
  APP.controller('TopicsController', ['$scope', '$rootScope', '$location', function ($scope, $rootScope, $location) { 
    $showPublish = false;

    $scope.tree = Syc.list('Tree', getTree) || [];
    function getTree (root) { $scope.tree = root; }

    $scope.topicSubmit = function () {
      var branch = {
          author: LOGIN.username,
          contents: $scope.contents,
          children: []
      }

      var slug = toSlug($scope.contents)

      $scope.tree[slug] = [branch]

      window.location = slug;
    }

    function toSlug (str) { 
      return str.toString()
                .toLowerCase()
                .replace(/-+/g, '')
                .replace(/\s+/g, '-')
                .replace(/[^a-z0-9-]/g, '');
    }

    $scope.showLogin = function () { 
      $rootScope.$emit('showLogin');
    }

    $scope.hideLogin = function () {
      $rootScope.$emit('hideLogin');
    }

  }]);
</script>

<!-- Banner and Slogan -->
<header>
  <div id="banner">
    Treebeard
  </div>
  <h1 id="slogan">
    Forums for the thoughtful
  </h1>
</header>



<div id="homepage" ng-controller="TopicsController">
  <ul id="topics">
    <li ng-repeat="(name, object) in tree">
      <h4>
        <a ng-href="/{{name}}/">{{object[0].contents}}</a>
        by
        {{object[0].author}}
      </h4>
    </li>
  </ul>


  <h2 id="publishHeader" class="buttbuddies" ng-click="showPublish = !showPublish">New Topic</h2>
  <h2 id="loginButton" class="buttbuddies" ng-click="showLogin()">Login</h2>

  <div id="publish" ng-show="showPublish" ng-click="showPublish = !showPublish">
    <form id="publishForm" ng-submit="topicSubmit()" ng-click="$event.stopPropagation()">
      <textarea ng-model="contents" ng-focus="showPublish" placeholder="Make a bold claim"></textarea>
      <input type="submit" />
    </form>
  </div>

</div>
