<script type="text/javascript" src="js/convo.js"></script>

<script type="text/javascript">
  angular.module('convo', []).controller("TreeController", ['$scope', function($scope) {
    $scope.add = function(convo) {
      child = new Branch(convo.response, "Joker", [], "Bill Nye");
      child["response"] = "";
      convo.children.push(child);
    };

    $scope.root = JSONToRoot(<%- JSON.stringify(rootConvo) %>);
    $scope.root["response"] = "";
  }]);
</script>


<div ng-controller="TreeController">
  <h2>{{root.title}}</h2>
  <h3>{{root.author}}</h3>
  <p><a href="{{root.link}}">{{root.link}}</a></p>
  <p>{{root.contents}}</p>

  <textarea ng-model="root.response" id="response" placeholder="Speak your mind..."></textarea>

  <button ng-click="add(root)">Submit</button>

  <ul>
    <li ng-repeat="convo in root.children" ng-include="'treeRenderer'"></li>
  </ul>
</div>


<script type="text/ng-template" id="treeRenderer">
  <h3>{{convo.author}}</h3>
  <p>{{convo.contents}}</p>

  <textarea ng-model="convo.response" id="response" placeholder="Speak your mind..."></textarea>
  <button ng-click="add(convo)">Submit</button>

  <ul>
    <li ng-repeat="convo in convo.children" ng-include="'treeRenderer'"></li>
  </ul>
</script>










<div ng-controller='articleCtrl' id='articles'>
  <ul> 
    <li ng-repeat="article in articles" ng-class="{grayed: article.unconfirmed}">
      <div> {{ article.title }} </div>
      <div> {{ article.contents }} </div>
    </li>
  </ul>

  <form ng-submit="submitArticle()">
    <input type='text' ng-model='articleTitle' id='articleTitle' placeholder="Title" />
    <textarea ng-model='articleText' id='articleText' placeholder="Teach me something!"></textarea>
    <input type='submit' value="publish" />
  </form>

  <script type="text/javascript" src="js/article.js"></script>
  <script type="text/javascript">
    function articleCtrl($scope) { 
      $scope.articles = [];

      addArticle = function (article) { 
        $scope.articles.push(article)
      }

      $scope.submitArticle = function () { 
        article = new Article(
            $scope.articleTitle
          , $scope.articleText
          , 'Ben Franklin'
        );
        
        $scope.articleText = "";
        $scope.articleTitle = "";

        article.unconfirmed = true;

        addArticle(article);
      }

    }
  </script>

</div>
