<script type="text/javascript">
  var TOPICS = '<%- topicSlug %>';
</script>
<script type="text/javascript" src="/js/Convoset.js"></script>
<script type="text/javascript" src="/js/PostsController.js"></script>

<!--      -->
<!-- View -->
<!--      -->

<div ng-controller="PostsController">
  <nav class="fadeable" ng-fade="!nav" ng-mouseleave="delayedNavHide()" ng-mouseenter="resetDelayHide()">
    <div id="view">
      <a ng-href="##tree"><img id="tree" ng-class="{selected: view==='tree'}" src="/img/tree.png" /></a>
      <a ng-href="##forum"><img id="list" ng-class="{selected: view==='tree'}" src="/img/list.png" /></a>
    </div>
  </nav>

  <div id="icon" class="fadeable" ng-fade="!icon" ng-switch on="view" ng-click="showNav()">
    <img class="icon-switch" ng-switch-when="tree" src="/img/tree.png" />
    <img class="icon-switch" ng-switch-when="forum" src="/img/list.png" />
    <img class="icon-switch" ng-switch-when="flow" src="" />
  </div>



  <div id="forumView" ng-show="view==='forum'">
    <div class="post" id="forum{{root.token}}" ng-class="{selected: root.selected}" ng-Click="select(root, 'forum')" ng-include="'rootRenderer'"> </div>

      <ul>
        <li ng-repeat="convo in posts" ng-hide="$first" ng-include="'forumRenderer'"></li>
    </ul>
  </div>

  <div class="treeView" ng-show="view==='tree'">
    <div class="node" id="tree{{root.token}}" ng-class="{selected: root.selected}" ng-Click="select(root, 'tree')" ng-include="'rootRenderer'"> </div>
    <ul class="children">
      <li ng-repeat="convo in root.children" ng-include="'treeRenderer'"></li>
    </ul>
  </div>
</div>


<!--            -->
<!-- Templating -->
<!--            -->

<!-- Angular logic for creating the Root -->
<script type="text/ng-template" id="rootRenderer">
  <h2><a href="{{root.link}}">{{root.title}}</a></h2>

  <div class="details">
    <h3>{{root.author}}</h3>
  </div>
  <p>{{root.contents}}</p>

  <form ng-submit="reply(root)" ng-show="root.selected">
    <textarea ng-model="root.response" ng-enter="reply(root)" placeholder="Speak your mind..."></textarea>
  </form>

</script>


<!-- Angular logic for creating posts (Forum View) -->
<script type="text/ng-template" id="forumRenderer">
  <div class="post" id="forum{{convo.token}}" ng-class="{selected: convo.selected}" ng-Click="select(convo, 'forum')">

    <div class="details">
      <h3>{{convo.author}}</h3>
    </div>
    <p>{{convo.contents}}</p>

    <form ng-submit="reply(convo)" ng-show="convo.selected">
      <textarea ng-model="convo.response" ng-enter="reply(convo)" placeholder="Speak your mind..."></textarea>
    </form>

  </div>
</script>


<!-- Angular logic for creating branches (Tree View) -->
<script type="text/ng-template" id="treeRenderer">
  <div class="treeView">

    <div class="bracket" ng-class="{topBracket: $first, botBracket: $last}"></div>

    <div class="node" id="tree{{convo.token}}" ng-class="{selected: convo.selected}" ng-Click="select(convo, 'tree')">
      <div class="details">
        <h3>{{convo.author}}</h3>
      </div>
      
      <p>{{convo.contents}}</p>

      <form ng-submit="reply(convo)" ng-show="convo.selected">
        <textarea ng-model="convo.response" ng-enter="reply(convo)" placeholder="Speak your mind..."></textarea>
      </form>

    </div>

    <ul class="children">
      <li ng-repeat="convo in convo.children" ng-include="'treeRenderer'"></li>
    </ul>

  </div>
</script>

