<script type="text/javascript" src="js/convo.js"></script>

<!-- Socket logic -->
<script type="text/javascript">
  var socket = io.connect('http://localhost:3000');

</script>



<!-- Angular convo logic -->
<script type="text/javascript">
  angular.module('convo', []).controller("TreeController", ['$scope', function($scope) {

    $scope.submitConvo = function(convo) {
      child = convo.addChild(convo.response, "Joker");
      child['response'] = "";
      socket.emit('convo', { convo: child.toJson() });
    };

    socket.on('convo', function (data) { 
      $scope.$apply(function () { 
        convo = JSONToBranch(data.convo);
        convo['response'] = "";
      });
    });


    $scope.root = JSONToRoot(<%- JSON.stringify(rootConvo) %>);
  }]);
</script>



<!-- HTML/angular logic -->
<div ng-controller="TreeController">
  <h2>{{root.title}}</h2>
  <h3>{{root.author}}</h3>
  <p><a href="{{root.link}}">{{root.link}}</a></p>
  <p>{{root.contents}}</p>

  <textarea ng-model="root.response" id="response" placeholder="Speak your mind..."></textarea>

  <button ng-click="submitConvo(root)">Submit</button>

  <ul>
    <li ng-repeat="convo in root.children" ng-include="'treeRenderer'"></li>
  </ul>
</div>


<script type="text/ng-template" id="treeRenderer">
  <h3>{{convo.author}}</h3>
  <p>{{convo.contents}}</p>

  <textarea ng-model="convo.response" id="response" placeholder="Speak your mind..."></textarea>
  <button ng-click="submitConvo(convo)">Submit</button>

  <ul>
    <li ng-repeat="convo in convo.children" ng-include="'treeRenderer'"></li>
  </ul>
</script>
