<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pivotal Search</title>
  <meta name="description" content="A cross between a forum and a chatroom. Lets you see the conversation develop chronologically, or see who is talking to who.">
  <meta name="author" content="Sirius A Strebe">

  <!-- yahoo css reset -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.13.0/build/cssreset/cssreset-min.css">

  <!-- styles -->
  <link href="stylesheets/css.css" rel="stylesheet">

  <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js'></script>

</head>
<body ng-app="convo">
  <nav>
  </nav>
  <div id='content'>
    <header>
      <div id="banner">
        Convo
      </div>
      <div id="slogan">
        Forums for the thoughtful
      </div>
    </header>
    <%- body %>
    <footer> 
    </footer>
  </div>

</body>
</html>
