<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Treebeard</title>
  <meta name="description" content="A cross between a forum and a chatroom. Lets you see the conversation develop chronologically, or see who is talking to who.">
  <meta name="author" content="Sirius A Strebe">

  <!-- yahoo css reset -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.13.0/build/cssreset/cssreset-min.css">

  <!-- styles -->
  <link href="/css/css.css" rel="stylesheet" />

  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

  <!-- JS Libraries -->
  <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>
  <script type='text/javascript' src="//cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.js"></script>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.js'></script>
  <script type='text/javascript' src="/socket.io/socket.io.js"></script>

  <script type="text/javascript">
    var APP = angular.module( 'convo', [],
        // This is here because recursively using ng-templates
        // will cause an infinite digest error if the depth of the
        // recursion exceeds the digest limit. This allows a max
        // depth of ~ 47.
        function ($rootScopeProvider) {
          $rootScopeProvider.digestTtl(50);
        }
    );

    var IO = io.connect(),
        SESSIONID = findSID(), 
        LOGIN = {status: 'lurker', username: 'AnnonymousAndy', watchers: {}};
 

    function findSID()  {
      return $.cookie('connect.sid'); 
    }

    IO.on('connect', function () {
      IO.emit('identifyMe', {sessionID: SESSIONID});
    });
  </script>




</head>
<body ng-app="convo" ng-controller="KeysController" ng-keydown="keyDown($event)">

  <!-- Nav menu -->
  <div ng-controller="NavController" ng-hide="view === 'none'">
    <nav class="fadeable" ng-fade="!nav" ng-mouseleave="delayedNavHide()" ng-mouseenter="resetDelayHide()">
      <div id="user">
        {{username}}
      </div>
      <a href="/">
        <div id="homeButton"> 
         Treebeard 
        </div>
      </a>
      <div id="views">
        <a ng-href="##tree"><i class="fa fa-sitemap fa-3x" ng-class="{selected:view==='tree'}"></i></a>
        <a ng-href="##flow"><i class="fa fa-leaf fa-3x" ng-class="{selected: view==='flow'}"></i></a>
        <a ng-href="##forum"><i class="fa fa-align-justify fa-3x" ng-class="{selected: view==='forum'}"></i></a>
      </div>
    </nav>
  
    <div id="icon" class="fadeable" ng-fade="!icon" ng-switch on="view" ng-click="showNav()">
      <i class="fa fa-sitemap fa-3x" ng-switch-when="tree"></i>
      <i class="fa fa-leaf fa-3x" ng-switch-when="flow"></i>
      <i class="fa fa-align-justify fa-3x" ng-switch-when="forum"></i>
    </div>
  </div>


  <!-- Content -->
  <%- body %>


  <!-- Login -->
  <div ng-controller="LoginController" ng-show='loginShowing' id="login" ng-click="hideLogin()">
    <form ng-submit="login()" ng-click="$event.stopPropagation()">
      <input type="text" ng-model='username' placeholder="Pick a username" />
      <input type='submit' value="Login"></input><i class="fa fa-key" id="key"></i>
    </form>
  </div>

  <div ng-controller="ErrorController" ng-show="errorShowing" id="error" ng-click="errorShowing = !errorShowing">
    <form ng-submit="continue()" ng-click="$event.stopPropagation()"> 
      <div>{{errorMessage}}</div>
      <div>Contact <a href="mailto:SiriusAStrebe@gmail.com">SiriusAStrebe@gmail.com</a></div>
      <input type='submit' value="I understand..."></input>
    </form>
  </div>

  <footer></footer>

  <script type="text/javascript">
    APP.controller('KeysController', ['$scope', '$rootScope', function ($scope, $rootScope) { 
        $scope.keyDown = function (ev) { 
          k = ev.which;
          // Arrow, WASD, and Vim bindings
          if (k === 37 || k === 65 || k === 72) 
            $rootScope.$emit('key', 'left')
          if (k === 38 || k === 87 || k === 75)
            $rootScope.$emit('key', 'up');
          if (k === 39 || k === 76 || k === 68)
            $rootScope.$emit('key', 'right');
          if (k === 40 || k === 83 || k === 74)
            $rootScope.$emit('key', 'down');
 
          // Escape key binding
          if (k === 27)
            $rootScope.$emit('key', 'esc');
        }
    }]);


    APP.controller('ErrorController', ['$scope', '$rootScope', function ($scope, $rootScope) { 
      $scope.errorShowing = false;

      IO.on('error', function (data) { 
        $scope.$apply( function () { 
          if (data.msg !== 'undefined') 
            $scope.errorMessage = data.msg;
          else
            $scope.errorMessage = data;
          $scope.errorShowing = true;
        });
      });

      $scope.continue = function () { 
        $scope.errorShowing = false;
      }

      $rootScope.$on('key', function (event, key) { 
        if (key === 'esc' && $scope.loginShowing === true) { 
          $scope.errorShowing = false;
        }
      });
    }]);


    APP.controller('LoginController', ['$scope', '$rootScope', function ($scope, $rootScope) { 
      $scope.loginShowing = false;

      $scope.login = function () { 
        if ($scope.username) {
          username = $scope.username;

          IO.emit('nameMe', {username: username});
        }
      }

      $scope.hideLogin = function () { 
        $scope.loginShowing = false;
      }

      // TODO: Not certain if this belongs here, or if this controller 
      // should just have a watcher to the login data.
      IO.on('namedYou', function (data) {

        $scope.$apply( function () { 
          $scope.loginShowing = false;
        });

        console.log('just got named ' + data.username);
        LOGIN.status = 'participant';
        LOGIN.username = data.username;
        for (func in LOGIN.watchers) { 
          LOGIN.watchers[func].call(this, LOGIN);
        }
      });

      $rootScope.$on('showLogin', function () { 
        $scope.loginShowing = true;
      });

      $rootScope.$on('key', function (event, key) { 
        console.log('key ' + key);
        if (key === 'esc' && $scope.loginShowing === true) { 
          $scope.loginShowing = false;
        }
      });
    }]);
    
 
  // --------------------------------
  // Navigational menu
  // --------------------------------
  APP.controller('NavController', ['$scope', '$timeout', '$location',  function ($scope, $timeout, $location) {
    $scope.icon = true;
    $scope.nav  = false;
    $scope.username = "Lurking";
    $scope.view;

    $scope.showNav = function () { 
      $scope.nav  = true;
      $scope.icon = false;
    }

    var timeoutId;
    $scope.delayedNavHide = function () {
      timeoutId = $timeout( function () {
        $scope.nav = false;
        $timeout( function () {
          $scope.icon = true;
        }, 400);
      }, 2000);
    }

    $scope.resetDelayHide = function () {
      $timeout.cancel(timeoutId);
    }  


    // --------------------------------
    // Tree/List View control
    // --------------------------------
    // TODO: this code violates DRY in /views/layout.ejs
    $scope.$on("$locationChangeStart", function (event, next, current) { 
      if ($location.hash() === 'forum') { 
        $scope.view = 'forum';
      }
      else if ($location.hash() === 'flow') { 
        $scope.view = 'flow';
      }
      else if ($location.hash() === 'tree') { 
        $scope.view = 'tree';
      }
      else {
        if (document.location.pathname === '/' || document.location.pathname === '') { 
          $scope.view = 'none';
        }
        else  {
          $scope.view = 'tree';
        }
      }
    });

    // --------------------------------
    // Username controls
    // --------------------------------
    // Each login watcher is fired when the login details are changed.
    LOGIN.watchers['updateUsername'] = function (login) { 
      $scope.username = login.username;
    };

  }]);

  /*                      */
  /*      Directives      */
  /*                      */
  // Fade animation
  APP.directive('ngFade', function ($animate, $timeout) { 
    return function (scope, element, attrs) {
      scope.$watch(attrs.ngFade, function (ngFade) { 
        if (ngFade) {
          $animate.addClass(element, 'fade');
          $timeout(function () { 
            if (element.hasClass('fade') && !element.hasClass('hidden')) // Check if we're still fading
              $animate.addClass(element, 'hidden');
          }, 1000);
        } else { 
          $animate.removeClass(element, 'hidden');
          // Required due to a CSS bug of not fading in if immediately unhidden
          $timeout(function () { 
            if (!element.hasClass('hidden'))
              $animate.removeClass(element, 'fade');
          }, 200)
        }
      });
    }
  });


  </script>

</body>
</html>
