!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    // Non-official/not-guaranteed CDN for underscore (a dependency of backbone, and a useful library in its own right)
    script(type='text/javascript' src='http://backbonejs.org/backbone.js')

  body!= body
