<script type="text/javascript">
  var DEBUG = true;
</script>

<script type="text/javascript" src="/js/Convoset.js"></script>
<script type="text/javascript" src="/js/PostsController.js"></script>


<div id="posts" ng-controller="PostsController">

  <!--                    -->
  <!--     Forum View     -->
  <!--                    -->

  <div id="forumView" ng-if="view==='forum'">
    <input id="query" type="search" ng-change="" ng-model="search.query"></input>

    <ul>
      <li class="forumNode" ng-repeat="post in posts | filter:postFilter track by post['syc-object-id']"  ng-include="'forumRenderer'"></li>
    </ul>

    <script type="text/ng-template" id="forumRenderer">
      <div class="post" ng-class="{selected: action.selection===post}" ng-Click="select(post)">

        <div class="details">
          <h3>{{post.author}}</h3>
          <h4>{{post.time}}</h4>
        </div>

        <p>{{post.contents}}</p>

        <form ng-submit="reply(post)" class="forumReply replyBox" ng-slide="action.selection===post">
          <textarea ng-model="action.message" ng-focus="action.selection===post" ng-enter="reply(post)"></textarea>
        </form>

      </div>
    </script>
  </div>


  <!--                     -->
  <!--      Tree View      -->
  <!--                     -->

  <!--
  <div class="treeView" ng-if="view==='tree'">
    <ul>
      <li ng-repeat="convo in root" ng-include="'treeRenderer'"></li>
    </ul>
  </div>
  -->


  <script type="text/ng-template" id="treeRenderer">
    <div class="treeView">

      <div class="bracket" ng-if="convo.type!=='Root'" ng-class="{leftBracket: $first, rightBracket: $last}"></div>

      <div class="node" id="tree{{convo.token}}" ng-class="{selected: convo.selected}" ng-Click="select(convo, 'tree')">

        <h2 ng-if="convo.type === 'Root'"><a href="{{convo.link}}">{{convo.title}}</a></h2>

        <div class="details">
          <h3>{{convo.author}}</h3>
          <h4>{{convo.time}}</h4>
        </div>
      
        <p>{{convo.contents}}</p>

        <div ng-slide="convo.selected" class="iconRack slideableH">
          <i ng-click="replying(convo)" class="replyIcon fa fa-comment-o fa-lg"></i>
          <i ng-click="debug(convo)" ng-show="development" class="debugIcon fa fa-question fa-lg"></i>
        </div>

      </div>

      <ul class="children">
        <li ng-repeat="convo in convo.children" ng-include="'treeRenderer'"></li>
        <li class="treeReply slideable" ng-slide="convo.replying" ng-include="'treeReplyRenderer'"></li>
      </ul>

    </div>
  </script>

  <script type="text/ng-template" id="treeReplyRenderer">
    <div class="treeView">
<!--      <div class="bracket rightBracket" ng-class="{leftBracket: convo.parent.children.length===0}"> -->
      <div class="node">
        <form ng-submit="reply(convo)">
          <textarea ng-model="convo.response" ng-focus="convo.replying" ng-enter="reply(convo)"></textarea>
        </form>
      </div>
    </div>
  </script>


  <!--                      -->
  <!--      Flow view       -->
  <!--                      -->

  <div ng-if="view==='flow'">
    <ul>
      <li class="flow" ng-repeat="flow in root track by flow['syc-object-id']" ng-include="'flowRenderer'"></li>
    </ul>
  </div>

  <script type="text/ng-template" id="flowRenderer">
  <div class="flowView">

      <div class="bracket" ng-class="{topBracket: $first, botBracket: $last}"></div>

      <div class="node" ng-class="{selected: action.selection===flow, replying: action.replying===flow}" ng-Click="select(flow)">

        <div class="details">
          <h3>{{flow.author}}</h3>
          <h4>{{flow.time}}</h4>
        </div>

        <i ng-click="openReply(flow)" ng-class="{visible: action.selection===flow}" class="replyIcon fa fa-comment-o fa-lg"></i>

        <p>{{flow.contents}}</p>

      </div>

      <ul class="children">
        <li class="flowNode" ng-repeat="flow in flow.children track by flow['syc-object-id']" ng-include="'flowRenderer'"></li>
        <li class="flowReply" ng-slide="action.replying===flow" ng-include="'flowReplyRenderer'"></li>
      </ul>
    
    </div>
  </script>


  <script type="text/ng-template" id="flowReplyRenderer">
    <div class="flowView">
    
      <!-- <div class="bracket botBracket" ng-class="{topBracket: flow.parent.children === 0}"></div> -->

      <div class="node">
        <form ng-submit="reply(flow)">
          <textarea ng-model="action.message" ng-focus="action.replying===flow" ng-enter="reply(flow)"></textarea>
        </form>
      </div>

    </div>
  </script>


  <!--                      -->
  <!--      Debug info      -->
  <!--                      -->

  <!--
  <div class="debugView" ng-show="debugView" ng-click="closeDebug()">
    <ul>
      <li ng-repeat="convo in posts" ng-include="'debugRenderer'"></li>
    </ul>
  </div>
  -->


  <script type="text/ng-template" id="debugRenderer">
    <div class="debug" ng-show="convo.debug" ng-click="$event.stopPropagation()">
      <i ng-click="closeDebug()" class="closeDebug fa fa-minus-square-o fa-lg"></i>
      <ul>
        <li>Author: {{convo.author}}</li>
        <li>Timestamp: {{convo.time}}</li>
        <li>Token: {{convo.token}}</li>
        <li>Depth: {{convo.depth}}</li>
        <li>Contents: {{convo.contents}}</li>
      </ul>
    </div>
  </script>



</div>
