<style type="text/css"> 
  html {  
    background: url('http://i.imgur.com/OwekIWV.jpg'); 
    background-attachment: fixed;
    background-position: center center;
  } 

  body {
    background: transparent;
  }
</style> 
           
            


<script type="text/javascript">
  var TOPICS = '<%- topicSlug %>';
  var TREEJSON = JSON.parse(<%- JSON.stringify(tree) %>);
  var ANCHORS = <%- JSON.stringify(anchors) %>;
  var DEBUG = true;
</script>

<script type="text/javascript" src="/js/Convoset.js"></script>
<script type="text/javascript" src="/js/PostsController.js"></script>






<div id="posts" ng-controller="PostsController">

  <!--                    -->
  <!--     Forum View     -->
  <!--                    -->

  <div id="forumView" ng-if="view==='forum'">

    <input id="query" type="search" ng-model="search.query"></input>

    <ul>
      <li ng-repeat="convo in posts" ng-include="'forumRenderer'"></li>
    </ul>



    <script type="text/ng-template" id="forumRenderer">
      <div class="post slidehide colorhide" ng-hide="convo.filtered" id="forum{{convo.token}}" ng-class="{selected: convo.selected}" ng-Click="select(convo, 'forum')">

        <h2 ng-if="convo.type === 'Root'"><a href="{{convo.link}}">{{convo.title}}</a></h2>

        <div class="details">
          <h3>{{convo.author}}</h3>
          <h4>{{convo.time}}</h4>
        </div>

        <p class="quote" ng-if="convo.type === 'Branch'" ng-Click="select(convo.parent, 'forum'); $event.stopPropagation()">{{convo.parent.contents | limitTo:120}}...</p>
        <p>{{convo.contents}}</p>

        <form ng-submit="reply(convo)" class="forumReply slideableH" ng-slide="convo.selected">
          <textarea ng-model="convo.response" ng-enter="reply(convo)"></textarea>
        </form>

      </div>
    </script>
  </div>


  <!--                     -->
  <!--      Tree View      -->
  <!--                     -->

  <div class="treeView" ng-if="view==='tree'">
    <ul>
      <li ng-repeat="convo in roots" ng-include="'treeRenderer'"></li>
    </ul>
  </div>


  <script type="text/ng-template" id="treeRenderer">
    <div class="treeView">

      <div class="bracket" ng-if="convo.type!=='Root'" ng-class="{leftBracket: $first, rightBracket: $last}"></div>

      <div class="node" id="tree{{convo.token}}" ng-class="{selected: convo.selected}" ng-Click="select(convo, 'tree')">

        <h2 ng-if="convo.type === 'Root'"><a href="{{convo.link}}">{{convo.title}}</a></h2>

        <div class="details">
          <h3>{{convo.author}}</h3>
          <h4>{{convo.time}}</h4>
        </div>
      
        <p>{{convo.contents}}</p>

        <div ng-slide="convo.selected" class="iconRack slideableH">
          <i ng-click="replying(convo)" class="replyIcon fa fa-comment-o fa-lg"></i>
          <i ng-click="debug(convo)" ng-show="development" class="debugIcon fa fa-question fa-lg"></i>
        </div>

      </div>

      <ul class="children">
        <li ng-repeat="convo in convo.children" ng-include="'treeRenderer'"></li>
        <li class="treeReply slideableW slideableH" ng-slide="convo.replying" ng-include="'treeReplyRenderer'"></li>
      </ul>

    </div>
  </script>

  <script type="text/ng-template" id="treeReplyRenderer">
    <div class="treeView">
      <div class="bracket rightBracket" ng-class="{leftBracket: convo.parent.children.length===0}">
      <div class="node">
        <form ng-submit="reply(convo)">
          <textarea ng-model="convo.response" ng-focus="convo.replying" ng-enter="reply(convo)"></textarea>
        </form>
      </div>
    </div>
  </script>


  <!--                      -->
  <!--      Flow view       -->
  <!--                      -->

  <div ng-if="view==='flow'">
    <ul>
      <li class="flow" ng-repeat="convo in anchorRoots" ng-include="'flowRenderer'"></li>
    </ul>
  </div>


  <script type="text/ng-template" id="flowRenderer">
  <div class="flowView">

      <div class="bracket" ng-if="!convo.root" ng-class="{topBracket: $first, botBracket: $last}"></div>

      <div class="node" id="flow{{convo.token}}" ng-class="{selected: convo.selected, anchor: convo.anchor===convo}" ng-Click="select(convo, 'flow')">
    
        <h2 ng-if="convo.type === 'Root'"><a href="{{convo.link}}">{{convo.title}}</a></h2>

        <div class="details">
          <h3>{{convo.author}}</h3>
          <h4>{{convo.time}}</h4>
        </div>

        <div id="census" ng-show="convo.census - convo.activeChildren.length > 0">{{convo.census - convo.activeChildren.length}}</div>
      
        <p>{{convo.contents}}</p>

        <div ng-slide="convo.selected" class="iconRack slideableH">
          <i ng-click="replying(convo)" class="replyIcon fa fa-comment-o fa-lg"></i>
          <i ng-click="debug(convo)" ng-show="development" class="debugIcon fa fa-question fa-lg"></i>
        </div>

      </div>

      <ul class="children">
        <li class="animate-repeat" ng-repeat="convo in convo.activeChildren" ng-include="'flowRenderer'"></li>
        <li class="flowReply slideableH" ng-slide="convo.replying" ng-include="'flowReplyRenderer'"></li>
      </ul>
    
    </div>
  </script>


  <script type="text/ng-template" id="flowReplyRenderer">
    <div class="flowView">
    
      <div class="bracket botBracket" ng-class="{topBracket: convo.parent.children === 0}"></div>

      <div class="node">
        <form ng-submit="reply(convo)">
          <textarea ng-model="convo.response" ng-focus="convo.replying" ng-enter="reply(convo)"></textarea>
        </form>
      </div>

    </div>
  </script>


  <!--                      -->
  <!--      Debug info      -->
  <!--                      -->

  <div class="debugView" ng-show="debugView">
    <ul>
      <li ng-repeat="convo in posts" ng-include="'debugRenderer'"></li>
    </ul>
  </div>


  <script type="text/ng-template" id="debugRenderer">
    <div class="debug" ng-show="convo.debug">
      <i ng-click="closeDebug(convo)" class="closeDebug fa fa-minus-square-o fa-lg"></i>
      <ul>
        <li>Author: {{convo.author}}</li>
        <li>Timestamp: {{convo.timestamp}}</li>
        <li>RenderedTime: {{convo.time}}</li>
        <li>Depth: {{convo.stats.depth}}</li>
        <li>Priority: {{convo.stats.priority}}</li>
        <li>Contents: {{convo.contents}}</li>
      </ul>
    </div>
  </script>



</div>
