/* ---- ---- ---- ---- */
/* Default/Colors      */
/* ---- ---- ---- ---- */
/* widescreen dimensions */
/* Border */
.borderBig {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.borderMedium {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.borderSmall {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* Shadow */
/* ---- ---- ---- ---- */
/* Background          */
/* ---- ---- ---- ---- */
html {
  background: url('http://i.imgur.com/LCtQiMW.jpg');
  background-attachment: fixed;
  background-position: center center;
}
body {
  background: transparent;
}
/* ---- ---- ---- ---- */
/* Responsive Layout   */
/* ---- ---- ---- ---- */
@media (max-width: 959px) {
  header {
    width: 100%;
  }
  #homepage {
    width: 100%;
  }
  #forumView {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}
@media (min-width: 960px) {
  header {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
  #homepage {
    width: 800px;
  }
  #forumView {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
  footer {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
}
/* ---- ---- ---- ---- */
/* Specific Elements   */
/* ---- ---- ---- ---- */
/* ---- ---- ---- ---- */
/* Header and Footer   */
/* ---- ---- ---- ---- */
body {
  font-family: verdana;
}
header {
  height: 140px;
  margin-top: 40px;
  padding-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
header #banner {
  font-size: 80px;
  font-family: arial;
  color: #e8f8ff;
  font-weight: bolder;
  text-shadow: #888888 -2px -2px;
}
header #slogan {
  font-size: 20px;
  font-family: verdana;
}
footer {
  height: 150px;
}
/* ---- ---- ---- ---- */
/* Nav                 */
/* ---- ---- ---- ---- */
nav {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  z-index: 30;
}
nav #user {
  position: absolute;
  left: 0px;
  padding: 12px 18px 12px 12px;
  font-size: 15px;
  box-shadow: -1px -1px 0px #888888;
  background-color: white;
  border-bottom-right-radius: 10px;
}
nav #views {
  position: absolute;
  right: 0px;
}
nav #views i {
  color: #33ff44;
  text-shadow: 2px 2px #888888;
  padding: 4px;
  margin: 8px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
nav #views i:hover {
  color: #fada5e;
}
nav #views .selected {
  background-color: #e8f8ff;
  border-radius: 50%;
  padding: 0.15em;
}
nav #homeButton {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 500px;
  text-align: center;
  padding-top: 10px;
  text-shadow: -2px -2px 0px #888888;
  font-size: 50px;
  font-family: arial;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #e8f8ff;
  text-decoration: none;
}
#icon {
  position: fixed;
  top: 0px;
  right: 0px;
  opacity: 0.6;
  z-index: 29;
  cursor: pointer;
}
#icon i {
  color: #33ff44;
  text-shadow: 4px 4px #888888;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#icon i:active {
  color: #fada5e;
  text-shadow: 0px 0px 20px #fada5e !important;
}
#icon:hover {
  opacity: 1;
}
/* ---- ---- ---- ---- */
/* login and errors    */
/* ---- ---- ---- ---- */
#login {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.5);
}
#login form {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 300px;
  height: 100px;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#login form input#loginbutton {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 80%;
  margin: 5px;
  font-size: 25px;
  font-weight: bolder;
  display: inline-block;
  height: 50px;
  text-align: center;
  color: #e8f8ff;
  text-shadow: -1px -1px #888888;
  box-shadow: 1px 1px 1px 0px #888888;
  background-color: #097054;
}
#login form input#username {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#error {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}
#error form {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#error form div {
  margin: 12px;
}
#error form input {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 80%;
  margin: 12px;
  height: 26px;
}
/* ---- ---- ---- ---- */
/*      homepage       */
/* ---- ---- ---- ---- */
#homepage {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-shadow: -1px -1px 1px 0px #888888;
  padding: 10px;
}
#homepage h2 {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15px;
}
#homepage #topics {
  font-size: 20px;
  margin-bottom: 100px;
}
#homepage #topics a {
  color: #55dd88;
  font-weight: bolder;
  text-decoration: none;
}
#homepage #topics li {
  margin: 12px;
}
#homepage .buttbuddies {
  width: 200px;
  display: inline-block;
  padding: 10px;
  background-color: #097054;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #e8f8ff;
  text-shadow: -1px -1px #888888;
  box-shadow: 1px 1px 1px 0px #888888;
  cursor: pointer;
}
#homepage .buttbuddies:hover {
  color: #fada5e;
}
#homepage #publish {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.6);
}
#homepage #publish #publishForm {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 500px;
  height: 150px;
  padding-top: 40px;
}
#homepage #publish #publishForm input {
  font-size: 25px;
  font-weight: bolder;
  display: inline-block;
  width: 480px;
  height: 50px;
  text-align: center;
  color: #e8f8ff;
  text-shadow: -1px -1px #888888;
  box-shadow: 1px 1px 1px 0px #888888;
  background-color: #097054;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#homepage #publish #publishForm textarea {
  width: 480px;
  height: 90px;
  padding: 6px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/* ---- ---- ---- ---- */
/*      Posts          */
/* ---- ---- ---- ---- */
#posts {
  margin-top: 100px;
}
.selected {
  -moz-box-shadow: 0px 0px 8px 2px #8888ff;
  -webkit-box-shadow: 0px 0px 8px 2px #8888ff;
  box-shadow: 0px 0px 8px 2px #8888ff;
}
/* ---- ---- ---- ---- */
/*      Flow View      */
/* ---- ---- ---- ---- */
.flow {
  margin-right: 4em;
}
.flowView {
  position: relative;
  white-space: nowrap;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
}
.flowView .node,
.flowView .children {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.flowView .children {
  padding-top: 10px;
  padding-bottom: 10px;
}
.flowView .node {
  white-space: normal;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: -1px -1px 1px 0px #888888;
  margin-left: 10px;
  min-width: 250px;
  max-width: 400px;
  cursor: pointer;
  min-height: 50px;
}
.flowView .node:hover {
  box-shadow: 1px 1px 1px 0px #888888;
}
.flowView .details {
  display: block;
  padding-top: 4px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-family: century gothic;
}
.flowView .details h3 {
  display: inline-block;
}
.flowView .details h4 {
  display: inline-block;
  float: right;
}
.flowView p {
  margin: 4px 12px 8px 12px;
}
.flowView form {
  text-align: center;
}
.flowView textarea {
  width: 240px;
  margin: 0px;
  padding: 4px;
  resize: none;
  border: 0px;
  outline: none;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.flowView .flowReply {
  height: 0px;
  width: 260px;
  overflow: hidden;
  -webkit-transition: 0.4s height ease;
  -moz-transition: 0.4s height ease;
  -o-transition: 0.4s height ease;
  transition: 0.4s height ease;
}
.flowView .flowReply.slide {
  height: 80px !important;
}
.flowView .iconRack {
  position: relative;
  width: 100%;
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.4s height ease;
  -moz-transition: 0.4s height ease;
  -o-transition: 0.4s height ease;
  transition: 0.4s height ease;
}
.flowView .iconRack.slide {
  height: 40px !important;
}
.flowView .replyIcon {
  position: absolute;
  right: 20px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}
.flowView .replyIcon:hover {
  background-color: #fada5e;
}
.flowView .debugIcon {
  position: absolute;
  right: 55px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}
.flowView .debugIcon:hover {
  background-color: #fada5e;
}
.flowView .bracket {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  width: 6px;
  border-color: #fada5e;
  border-left-width: 4px;
  border-left-style: groove;
}
.flowView .topBracket {
  top: 50%;
  border-top-left-radius: 10px;
  border-top-width: 3px;
  border-top-style: groove;
}
.flowView .botBracket {
  bottom: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-width: 3px;
  border-bottom-style: groove;
}
/* ---- ---- ---- ---- */
/* Forum View          */
/* ---- ---- ---- ---- */
#forumView {
  position: relative;
}
#forumView #query {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  min-width: 300px;
  width: 60%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#forumView .post:hover .quote {
  height: 1.5em;
}
#forumView .post {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: -1px -1px 1px #888888;
  cursor: pointer;
}
#forumView .post h2 {
  font-size: 30px;
  font-family: arial;
  text-align: center;
  margin: 25px 0px 10px;
}
#forumView .post h2 a {
  text-decoration: none;
  color: #097054;
}
#forumView .post .details {
  display: block;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  font-family: century gothic;
}
#forumView .post .details h3 {
  display: inline-block;
}
#forumView .post .details h4 {
  display: inline-block;
  float: right;
}
#forumView .post form {
  text-align: center;
}
#forumView .post textarea {
  margin-bottom: 10px;
  width: 95%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#forumView .post p {
  font-family: verdana;
  margin: 5px 25px 10px;
}
#forumView .post .quote {
  font-size: 12px;
  display: inline-block;
  margin-left: 32px;
  margin-right: 32px;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  height: 0em;
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: height 300ms ease;
  -moz-transition: height 300ms ease;
  -o-transition: height 300ms ease;
  transition: height 300ms ease;
}
#forumView .post .quote:before,
#forumView .post .quote:after {
  content: "\"";
}
#forumView .post .quote:hover {
  background-color: #fada5e;
  cursor: pointer;
}
#forumView .post .forumReply {
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.4s height ease;
  -moz-transition: 0.4s height ease;
  -o-transition: 0.4s height ease;
  transition: 0.4s height ease;
}
#forumView .post .forumReply textarea {
  height: 40px;
  padding: 0px 4px;
}
#forumView .post .forumReply.replyBox.slide {
  height: 60px !important;
}
#forumView .post ul {
  list-style-type: none;
}
#forumView .post ul li {
  padding-left: 0px;
}
/* ---- ---- ---- ---- */
/* Tree View           */
/* ---- ---- ---- ---- */
/*    Layout    */
.treeView {
  position: relative;
  white-space: nowrap;
  display: table-cell;
  width: 100%;
}
.treeView .children li {
  display: inline-block;
  vertical-align: top;
}
.treeView .children {
  padding-left: 5px;
  padding-right: 5px;
}
.treeView .node {
  white-space: normal;
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  max-width: 400px;
}
/*    Styling    */
.treeView {
  padding-top: 3px;
  padding-bottom: 3px;
  /*
  .bracket {
    position: absolute;
    left: 0px;
    right: 0px;
    display: inline-block;
    height: 25px;

    border-color: @teal;
    border-top-width: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-style: ridge;
  }
  
  .topBracket { 
    left: 50%;
    border-top-left-radius: @borderMedium;
    border-left-width: 3px;
  }

  .botBracket { 
    right: 50%;
    border-top-right-radius: @borderMedium;
    border-right-width: 3px;
  }

  .bracket.topBracket.botBracket { 
    width: 0px;
    border-left-width: 0px;
    border-right-width: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
*/
}
.treeView .node {
  background-color: #ffffff;
  border: 1px solid #88ff99;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 2px 2px 1px 1px #888888;
  -webkit-box-shadow: 2px 2px 1px 1px #888888;
  box-shadow: 2px 2px 1px 1px #888888;
  margin-bottom: 4px;
  cursor: pointer;
}
.treeView .node:hover {
  background-color: #f8f9fa;
  border: 1px solid #88ff99;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.treeView h2 {
  font-size: 20px;
  font-family: arial;
  text-align: center;
  margin: 10px 0px 5px;
}
.treeView h2 a {
  text-decoration: none;
  color: #097054;
}
.treeView .details {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-family: century gothic;
}
.treeView .details h3 {
  display: inline-block;
}
.treeView .details h4 {
  display: inline-block;
  float: right;
}
.treeView p {
  margin: 5px 15px 10px;
}
.treeView form {
  text-align: center;
}
.treeView textarea {
  width: 98%;
  margin: 0px;
  height: 60px;
  resize: none;
  border: 0px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  outline: none;
}
.treeView .iconRack {
  position: relative;
  width: 100%;
  height: 40px;
}
.treeView .treeReply {
  margin-top: 25px;
  height: 100px;
  width: 350px;
}
.treeView .replyIcon {
  position: absolute;
  right: 20px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}
.treeView .replyIcon:hover {
  background-color: #fada5e;
}
.treeView .debugIcon {
  position: absolute;
  right: 55px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}
.treeView .debugIcon:hover {
  background-color: #fada5e;
}
.treeView .bracket {
  position: relative;
  width: 100%;
  display: block;
  height: 25px;
  border-color: #88ff99;
  border-top-width: 4px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-style: ridge;
}
.treeView .leftBracket {
  left: 50%;
  width: 50%;
  border-top-left-radius: 10px;
  border-left-width: 3px;
}
.treeView .rightBracket {
  left: 0%;
  width: 50%;
  border-top-right-radius: 10px;
  border-right-width: 3px;
}
.treeView .leftBracket.rightBracket {
  left: 50%;
  width: 0px;
  border-top-left-radius: 5px;
  border-left-width: 3px;
  border-top-right-radius: 5px;
  border-right-width: 3px;
}
/* ---- ---- ---- ---- */
/* Debug Info          */
/* ---- ---- ---- ---- */
.debugView {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
.debug {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 500px;
  height: 300px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px #888888;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.debug .closeDebug {
  float: right;
}
.debug .closeDebug:hover {
  background-color: #fada5e;
  cursor: pointer;
}
/* ---- ---- ---- ---- */
/* 404                 */
/* ---- ---- ---- ---- */
#fourzerofour {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
#fourzerofour h2 {
  font-family: arial;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
}
#fourzerofour h3 {
  margin-top: 15px;
  font-family: century gothic;
  text-align: center;
}
#fourzerofour img {
  width: 600px;
  display: inline-block;
  box-shadow: 10px 10px 5px 5px #888888;
}
/* ---- ---- ---- ---- */
/* Animations          */
/* ---- ---- ---- ---- */
.fadeable {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}
.fade {
  opacity: 0;
}
.hidden {
  display: none;
}
/* ---- ---- ---- ---- */
/* Forum Posts         */
/* ---- ---- ---- ---- */
.forumNode.ng-enter,
.forumNode.ng-move {
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
}
.forumNode.ng-leave .post {
  background-color: #fada5e !important;
}
.forumNode.ng-enter.ng-enter-active,
.forumNode.ng-move.ng-move-active {
  opacity: 1;
}
.forumNode.ng-leave {
  -webkit-animation: 1.0s postanimation;
  -moz-animation: 1.0s postanimation;
  -o-animation: 1.0s postanimation;
  animation: 1.0s postanimation;
}
@keyframes postanimation {
  from {
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes postanimation {
  from {
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}
@-moz-keyframes postanimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}
@-o-keyframes postanimation {
  from {
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
  }
}
/* ---- ---- ---- ---- */
/* Reply Slide Box     */
/* ---- ---- ---- ---- */
.replyBox {
  height: 0px;
  -webkit-transition: 0.4s max-height ease;
  -moz-transition: 0.4s max-height ease;
  -o-transition: 0.4s max-height ease;
  transition: 0.4s max-height ease;
}
.replyBox.slide {
  height: 60px;
}
/* ---- ---- ---- ---- */
/* Flow Node Addition  */
/* ---- ---- ---- ---- */
.flowNode.ng-enter,
.flow.ng-move {
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
  max-height: 0px;
}
.flowNode.ng-enter.ng-enter-active,
.flowNode.ng-move.ng-move-active {
  opacity: 1;
  max-height: 225px;
}
.flowNode.ng-leave {
  -webkit-animation: 1.0s postanimation;
  -moz-animation: 1.0s postanimation;
  -o-animation: 1.0s postanimation;
  animation: 1.0s postanimation;
}
@keyframes postanimation {
  from {
    opacity: 1;
    max-height: 225px;
  }
  to {
    max-height: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes postanimation {
  from {
    opacity: 1;
    max-height: 225px;
  }
  to {
    max-height: 0px;
    opacity: 0;
  }
}
@-moz-keyframes postanimation {
  from {
    opacity: 1;
    max-height: 225px;
  }
  to {
    opacity: 0;
    max-height: 0px;
  }
}
@-o-keyframes postanimation {
  from {
    opacity: 1;
    max-height: 225px;
  }
  to {
    max-height: 0px;
    opacity: 0;
  }
}
