/* ---- ---- ---- ---- */
/* Default/Colors      */
/* ---- ---- ---- ---- */
/* widescreen dimensions */
/* Border */
.borderBig {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.borderMedium {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.borderSmall {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* Shadow */
/* ---- ---- ---- ---- */
/* Responsive Layout   */
/* ---- ---- ---- ---- */
@media (max-width: 959px) {
  header {
    width: 100%;
  }
  #forumView {
    width: 100%;
  }
  footer {
    width: 100%;
  }
}
@media (min-width: 960px) {
  header {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
  #forumView {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
  footer {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
}
/* ---- ---- ---- ---- */
/* Specific Elements   */
/* ---- ---- ---- ---- */
/* ---- ---- ---- ---- */
/* Header and Footer   */
/* ---- ---- ---- ---- */
body {
  background-color: #ffffff;
  font-family: verdana;
}
header {
  height: 140px;
  margin-top: 60px;
  padding-top: 40px;
  margin-bottom: 20px;
  background-color: #ffa500;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-align: center;
}
header #banner {
  font-size: 80px;
  font-family: arial;
  color: #e8f8ff;
  font-weight: bolder;
  text-shadow: #888888 -2px -2px;
}
header #slogan {
  font-size: 20px;
  font-family: verdana;
}
footer {
  height: 150px;
}
/* ---- ---- ---- ---- */
/* Nav                 */
/* ---- ---- ---- ---- */
nav {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  z-index: 30;
}
nav #user {
  position: absolute;
  left: 0px;
  padding: 12px 18px 12px 12px;
  font-size: 15px;
  background-color: #ffa500;
  border-bottom-right-radius: 10px;
}
nav #views {
  position: absolute;
  right: 0px;
  background-color: #ffa500;
  border-bottom-left-radius: 10px;
}
nav #views #tree,
nav #views #list {
  margin: 0px 8px 0px 8px;
}
nav #views #tree:hover,
nav #views #list:hover {
  background-color: #888888;
}
nav #views .selected {
  background-color: #e8f8ff;
}
#icon {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 64px;
  width: 64px;
  z-index: 29;
}
/* ---- ---- ---- ---- */
/* login and errors    */
/* ---- ---- ---- ---- */
#login {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 127, 127, 0.3);
}
#login form {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: #097054;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#login form input {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 80%;
  margin: 12px;
  height: 26px;
}
#error {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 0, 0, 0.5);
}
#error form {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  width: 300px;
  height: 200px;
  text-align: center;
  background-color: #e8f8ff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#error form div {
  margin: 12px;
}
#error form input {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 80%;
  margin: 12px;
  height: 26px;
}
/* ---- ---- ---- ---- */
/*      homepage       */
/* ---- ---- ---- ---- */
#homepage {
  text-align: center;
}
#homepage h2 {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15px;
}
#homepage #topics {
  font-size: 20px;
  margin-bottom: 200px;
}
#homepage #topics a {
  color: #88ff99;
  font-weight: bolder;
}
#homepage #topics li {
  margin: 12px;
}
#homepage h2#publishHeader {
  display: inline-block;
  padding: 10px;
  background-color: #097054;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #e8f8ff;
  text-shadow: -2px -2px #888888;
}
#homepage #publish {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
#homepage #publish input {
  display: block;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#homepage #publish textarea {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#homepage #publish textarea:focus {
  text-align: left;
}
/* ---- ---- ---- ---- */
/*      Posts          */
/* ---- ---- ---- ---- */
#posts {
  margin-top: 100px;
}
/* ---- ---- ---- ---- */
/* Forum View          */
/* ---- ---- ---- ---- */
.selected {
  -moz-box-shadow: 0px 0px 8px 2px #8888ff;
  -webkit-box-shadow: 0px 0px 8px 2px #8888ff;
  box-shadow: 0px 0px 8px 2px #8888ff;
}
#forumView {
  position: relative;
}
#forumView .post {
  width: 100%;
  margin: 5px 0px 5px 0px;
  padding: 0px;
  overflow: auto;
  background-color: #e8f8ff;
  border: 1px solid #88ff99;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#forumView .post h2 {
  font-size: 30px;
  font-family: arial;
  text-align: center;
  margin: 25px 0px 10px;
}
#forumView .post h2 a {
  text-decoration: none;
  color: #097054;
}
#forumView .post .details {
  display: inline-block;
  float: left;
  margin: 10px 15px 10px 15px;
  padding: 4px;
  background-color: #ffff66;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #888888;
  font-size: 18px;
  font-family: century gothic;
}
#forumView .post form {
  text-align: center;
}
#forumView .post textarea {
  margin-bottom: 10px;
  width: 80%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#forumView .post p {
  font-family: verdana;
  margin: 5px 25px 10px;
}
#forumView .post ul {
  list-style-type: none;
}
#forumView .post ul li {
  padding-left: 0px;
}
/* ---- ---- ---- ---- */
/* Tree View           */
/* ---- ---- ---- ---- */
.treeView {
  position: relative;
  white-space: nowrap;
  padding-top: 3px;
  padding-bottom: 3px;
  /* Spacing between cousins */
}
.treeView .node,
.treeView .children {
  display: inline-block;
  vertical-align: middle;
}
.treeView .children {
  padding-top: 10px;
  padding-bottom: 10px;
}
.treeView .node {
  white-space: normal;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #88ff99;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 2px 2px 1px 1px #888888;
  -webkit-box-shadow: 2px 2px 1px 1px #888888;
  box-shadow: 2px 2px 1px 1px #888888;
  margin-left: 10px;
  width: 500px;
  cursor: pointer;
}
.treeView .node:hover {
  background-color: #f8f8f8;
  border: 1px solid #88ff99;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.treeView h2 {
  font-size: 20px;
  font-family: arial;
  text-align: center;
  margin: 10px 0px 5px;
}
.treeView h2 a {
  text-decoration: none;
  color: #097054;
}
.treeView .details {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-family: century gothic;
}
.treeView .details h3 {
  display: inline-block;
}
.treeView .details h4 {
  display: inline-block;
  float: right;
}
.treeView p {
  margin: 5px 15px 10px;
}
.treeView form {
  text-align: center;
}
.treeView textarea {
  width: 98%;
  margin: 0px;
  height: 60px;
  resize: none;
  border: 0px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  outline: none;
}
.treeView .iconRack {
  position: relative;
  width: 100%;
  height: 40px;
}
.treeView .reply {
  height: 100px;
}
.treeView .replyIcon {
  position: absolute;
  right: 20px;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.treeView .replyIcon:hover {
  background-color: #ffff66;
}
.treeView .bracket {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  width: 6px;
  border-left-width: 4px;
  border-left-color: #888888;
  border-left-style: solid;
}
.treeView .topBracket {
  top: 50%;
  border-top-left-radius: 10px;
  border-top-width: 3px;
  border-top-style: solid;
}
.treeView .botBracket {
  bottom: 50%;
  border-bottom-left-radius: 10px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
/* ---- ---- ---- ---- */
/* Animations          */
/* ---- ---- ---- ---- */
.fadeable {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}
.fade {
  opacity: 0;
}
.hidden {
  display: none;
}
.slide {
  overflow: hidden;
  height: 0 !important;
}
.slideable {
  overflow: hidden;
  -webkit-transition: height 300ms ease;
  -moz-transition: height 300ms ease;
  -o-transition: height 300ms ease;
  transition: height 300ms ease;
}
