/* ---- ---- ---- ---- */
/* Default/Colors      */ 
/* ---- ---- ---- ---- */
@standout: #097054;
@orange: #FFA500;
@teal: #8F9;
@darkTeal: #5D8;
@green: #3F4;
@purple: #663399;
@yellow: #FADA5E;
@blue: #4488FF;
@shading: #888;
@white: #FFF;
@bright: #E8F8FF;
@hover: #F8F9FA;

@fontLarge: arial;
@fontText: verdana;
@fontStylish: century gothic;

@borderBig: 20px; 
@borderMedium: 10px;
@borderSmall: 5px;

/* widescreen dimensions */ 
@wide-width: 960px;

/* Border */
.border (@size) { 
  border-radius: @size;
  -moz-border-radius: @size;
  -webkit-border-radius: @size;
}

.borderBig { .border (@borderBig); }
.borderMedium { .border (@borderMedium); }
.borderSmall { .border (@borderSmall); }

/* Shadow */
.shadow (@x, @y, @w, @h, @color) {
  -moz-box-shadow:    @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow:         @arguments;
}



/* ---- ---- ---- ---- */
/* Background          */
/* ---- ---- ---- ---- */
html {  
  background-attachment: fixed;
  background-position: center center;
} 

body { 
  background: transparent;
}


/* ---- ---- ---- ---- */
/* Responsive Layout   */
/* ---- ---- ---- ---- */
@media (max-width: (@wide-width - 1)) { 
  header { 
    width: 100%;
  }

  #homepage { 
    width: 100%;
  }

  #forumView {
    width: 100%;
  }
  
  footer {
    width: 100%;
  }
}

@media (min-width: @wide-width) { 
  header {
    margin-left: auto;
    margin-right: auto;
    width: @wide-width;
  }

  #homepage {
    width: 800px;
  }

  #forumView { 
    margin-left: auto;
    margin-right: auto;
    width: @wide-width;
  }

  footer {
    margin-left: auto;
    margin-right: auto;
    width: @wide-width;
  }
}



/* ---- ---- ---- ---- */
/* Specific Elements   */
/* ---- ---- ---- ---- */

/* ---- ---- ---- ---- */
/* Header and Footer   */
/* ---- ---- ---- ---- */
body {
 font-family: @fontText;
}

header { 
  height: 140px;
  margin-top: 40px;
  padding-top: 40px;
  margin-bottom: 20px;

  text-align: center;

  #banner { 
    font-size: 80px;
    font-family: @fontLarge;
    color: @bright;
    font-weight: bolder;
    text-shadow: @shading -2px -2px;
  }

  #slogan { 
    font-size: 20px;
    font-family: @fontText;
    text-shadow: 0px 0px 3px #fff;
  }
}

footer { 
  height: 150px;
}


/* ---- ---- ---- ---- */
/* Nav                 */
/* ---- ---- ---- ---- */
nav { 
  position: fixed;
  top: 0px;

  height: 80px;
  width: 100%;
  z-index: 30;

  #user { 
    position: absolute;
    left: 0px;

    padding: 12px 18px 12px 12px;
    font-size: 15px;
    
    box-shadow: -1px -1px 0px @shading;
 
    background-color: white;
    border-bottom-right-radius: 10px;
  }

  #views {
    position: absolute;
    right: 0px;

    i {
      color: @green;
      text-shadow: 2px 2px @shading;
      padding: 4px;
      margin: 8px;
      .border(@borderSmall);
    }

    i:hover { 
      color: @yellow;
    }

    .selected {
      background-color: @bright;

      border-radius: 50%;
      padding: 0.15em;
    }
  }

  #homeButton { 
    position: absolute;
    left: 0px; right: 0px;
    margin: auto;

    width: 500px;

    text-align: center;
    padding-top: 10px;

    text-shadow: -2px -2px 0px @shading;
    font-size: 50px;
    font-family: @fontLarge;
    font-weight: bolder;
    letter-spacing: 2px;

    color: @bright; 
    text-decoration: none;
  }
}


#icon { 
  position: fixed;
  top: 0px;
  right: 0px;

  i {
    color: @green;
    text-shadow: 4px 4px @shading;
    padding: 8px;
    margin: 4px;
    .border(@borderSmall);
  }

  i:active { 
    color: @yellow;
    text-shadow: 0px 0px 20px @yellow !important;
  }

  opacity: 0.6;
  z-index: 29;

  cursor: pointer;

} #icon:hover { 
  opacity: 1;
}


/* ---- ---- ---- ---- */
/* login and errors    */
/* ---- ---- ---- ---- */


#login { 
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  
  background-color: rgba(127, 127, 127, 0.5);

  form { 
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    margin: auto;

    width: 300px;
    height: 100px;
    text-align: center;

    .border(@borderMedium);

    input#loginbutton { 
      .border(@borderMedium);
      width: 80%;
      margin: 5px;
      height: 50px;

      font-size: 25px;
      font-weight: bolder;

      display: inline-block;
      height: 50px;
      text-align: center;

      color: @bright;
      text-shadow: -1px -1px @shading;
      box-shadow: 1px 1px 1px 0px @shading;
      background-color: @standout;
    }

    input#username { 
      padding: 20px;
      width: 100%;
      .border(@borderMedium);
    }
  }
}

#error {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  
  background-color: rgba(255, 0, 0, 0.5);

  form { 
    position: absolute;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    margin: auto;

    width: 300px;
    height: 200px;
    text-align: center;

    background-color: @white;
    .border(@borderMedium);

    div { 
      margin: 12px;
    }

    input { 
      .border(@borderSmall);
      width: 80%;
      margin: 12px;
      height: 26px;
    }
  }
}








/* ---- ---- ---- ---- */
/*      homepage       */
/* ---- ---- ---- ---- */
#homepage { 
  text-align: center;
  background-color: rgba(255, 255, 255, 0.90);
  margin: auto;
  .border(@borderBig);
  box-shadow: -1px -1px 1px 0px @shading;
  
  padding: 10px;


  h2 { 
    font-size: 25px;
    font-weight: bolder;
    margin-bottom:15px;
  }

  #topics {
    font-size: 20px;
    margin-bottom: 100px;

    a { 
      color: @darkTeal;
      font-weight: bolder;
      text-decoration: none;
      text-shadow: 0px 0px 10px #FFF;
    }

    li {
      margin: 12px;
    }

  }

  .buttbuddies { 
    width: 200px;
    display: inline-block;
    padding: 10px;

    background-color: @standout;
    .border(@borderMedium);

    color: @bright;
    text-shadow: -1px -1px @shading;
    box-shadow: 1px 1px 1px 0px @shading;

    cursor: pointer;
  }

  .buttbuddies:hover { 
    color: @yellow;
  }

  #publish { 
    width: 100%;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background-color: rgba(127, 127, 127, 0.6);

    #publishForm { 
      position: absolute;
      top: 0px; left: 0px; right: 0px; bottom: 0px;
      margin: auto;

      width: 500px;
      height: 150px;
      padding-top: 40px;

      
      input {
        font-size: 25px;
        font-weight: bolder;

        display: inline-block;
        width: 480px;
        height: 50px;
        text-align: center;

        color: @bright;
        text-shadow: -1px -1px @shading;
        box-shadow: 1px 1px 1px 0px @shading;
        background-color: @standout;

        .border(@borderMedium);
      }
      
      textarea { 
        width: 480px;
        height: 90px;

        padding: 6px;

        .border(@borderMedium);
      }
    }
  }
}


/* ---- ---- ---- ---- */
/*      Posts          */
/* ---- ---- ---- ---- */
#posts { 
  margin-top: 100px;
}

.selected {
  .shadow(0px, 0px, 8px, 2px, #88F);
}


/* ---- ---- ---- ---- */
/*      Flow View      */
/* ---- ---- ---- ---- */
.flow {
  margin-right: 4em;
}

.flowView { 
  position: relative;
  white-space: nowrap;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;

  .node, .children {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }

  .children { 
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .node { 
    white-space: normal;
    overflow: auto;

    background-color: @white;
    .borderMedium;

    box-shadow: -1px -1px 1px 0px @shading;

    margin-left: 10px;
    min-width: 250px;
    max-width: 400px;
    cursor: pointer;

    min-height: 50px;
  }

  .node:hover {
    box-shadow: 1px 1px 1px 0px @shading;
  }

  .details {
    display: block;
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;

    h3 { 
      display: inline-block;
    }
    
    h4 { 
      display: inline-block;
      float: right;
    }

    font-size: 14px;
    font-family: @fontStylish;
  }
  
  p { 
    margin: 4px 12px 8px 12px;
  }


  form {
    text-align: center;
  }
  
  textarea { 
    width: 340px;
    height: 70px;
    margin: 0px;
    padding: 4px;

    resize: none;
    border: 0px;
    outline: none;
    .border(@borderMedium);
  }

  .flowReply { 
    height: 0px;
    width: 360px;

    overflow: hidden;
    -webkit-transition: 0.4s height ease;
       -moz-transition: 0.4s height ease;
         -o-transition: 0.4s height ease;
            transition: 0.4s height ease;
  }

  .flowReply.slide { 
    height: 90px !important;
  }

  .flowReply .node {
    box-shadow: 0px 0px 3px #FF4;
  }

  @keyframes glow {
    from {
      box-shadow: 0px 0px 4px #C84;
    }

    to {
      box-shadow: 0px 0px 4px #FFF;
    }
  }

  .flowReply .node {
    animation-duration: 1.5s;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .node .replyIcon.visible, 
  .node:hover .replyIcon { 
    opacity: 1.0;
  }

  .replyIcon { 
    float: right;

    margin-left: 8px;
    margin-right: 10px;
    margin-bottom: 6px;
    
    padding: 5px;
    .border(@borderSmall);

    -webkit-transition: 0.4s opacity ease;
       -moz-transition: 0.4s opacity ease;
         -o-transition: 0.4s opacity ease;
            transition: 0.4s opacity ease;

    opacity: 0.0;
    cursor: pointer;
  }

  .replyIcon:hover,
  .node.replying .replyIcon { 
    background-color: @yellow;
  }

  .debugIcon {
    position: absolute;
    right: 55px;

    padding: 5px;
    .border(@borderSmall);

    cursor: pointer;
  }

  .debugIcon:hover {
    background-color: @yellow;
  }


  .bracket {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: inline-block;
    width: 6px;

    border-color: @yellow;
    border-left-width: 4px;
    border-left-style: groove;
  }

  .topBracket { 
    top: 50%;
    border-top-left-radius: @borderMedium;
    border-top-width: 3px;
    border-top-style: groove;
  }

  .botBracket { 
    bottom: 50%;
    border-bottom-left-radius: @borderMedium;
    border-bottom-width: 3px;
    border-bottom-style: groove;
  }
}



/* ---- ---- ---- ---- */
/* Forum View          */
/* ---- ---- ---- ---- */

#forumView { 
  position: relative;
  
  #query { 
    display: block;
    margin: auto;
    margin-bottom: 50px; 

    min-width: 300px;
    width: 60%;

    .borderMedium;
  }

  .post:hover .quote { 
    height: 1.5em;
  }

  .post {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    overflow: auto;

    background-color: @white;
    .borderMedium;
    box-shadow: -1px -1px 1px @shading;

    cursor: pointer;

    h2 {
      font-size: 30px;
      font-family: @fontLarge;
      text-align: center;
      margin: 25px 0px 10px;

      a { 
        text-decoration: none;
        color: @standout;
      }
    }

    .details {
      display: block;
      padding-left: 25px;
      padding-right: 25px;

      h3 { 
        display: inline-block;
      }
      
      h4 { 
        display: inline-block;
        float: right;
      }

      font-size: 14px;
      font-family: @fontStylish;
    }
   
    form {
      text-align: center;
    }
    textarea { 
      margin-bottom: 10px;
      width: 95%;
      .borderSmall;
    }
    
    p { 
      font-family: @fontText;
      margin: 5px 25px 10px;
    }

    .quote { 
      font-size: 12px;
      display: inline-block;

      margin-left: 32px;
      margin-right: 32px;
      padding-left: 1em;
      padding-right: 1em;

      font-style: italic;
      height: 0em;
      overflow: hidden;
      .border(@borderSmall);

      -webkit-transition: height 300ms ease;
         -moz-transition: height 300ms ease;
           -o-transition: height 300ms ease;
              transition: height 300ms ease;
    }

    .quote:before, .quote:after { 
      content: "\"";
    }

    .quote:hover { 
      background-color: @yellow;
      cursor: pointer;
    }

    .forumReply { 
      height: 0px;
      overflow: hidden;
      
      textarea { 
        height: 40px;
        padding: 0px 4px;
      }

      -webkit-transition: 0.4s height ease;
         -moz-transition: 0.4s height ease;
           -o-transition: 0.4s height ease;
              transition: 0.4s height ease;
    }

    .forumReply.replyBox.slide { 
      height: 60px !important;
    }



    ul { list-style-type: none; }
    ul li { padding-left: 0px; } 
  }
}

/* ---- ---- ---- ---- */
/* Tree View           */
/* ---- ---- ---- ---- */

/*    Layout    */
.treeView { 
  position: relative;
  white-space: nowrap;

  .children { 
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .children li { 
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  .node {
    white-space: normal;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    max-width: 400px;
  }
}


/*    Styling    */
.treeView { 
  padding-top: 3px;
  padding-bottom: 3px;

  .node { 
    background-color: @white;
    border: 1px solid @teal;
    .borderMedium;
    .shadow(2px, 2px, 1px, 1px, @shading);

    margin-bottom: 4px;
    cursor: pointer;
  }

  .node:hover {
    background-color: @hover;
    border: 1px solid @teal;
    .borderMedium;
  }

  h2 {
    font-size: 20px;
    font-family: @fontLarge;
    text-align: center;
    margin: 10px 0px 5px;

    a { 
      text-decoration: none;
      color: @standout;
    }
  }

  .details {
    display: block;
    padding-left: 15px;
    padding-right: 15px;

    h3 { 
      display: inline-block;
    }
    
    h4 { 
      display: inline-block;
      float: right;
    }

    font-size: 14px;
    font-family: @fontStylish;
  }
  
  p { 
    margin: 5px 15px 10px;
  }


  form {
    text-align: center;
  }
  
  textarea { 
    width: 98%;
    margin: 0px;

    height: 60px;

    resize: none;
    border: 0px;
    .border(@borderMedium);

    outline: none;
  }

  .iconRack { 
    position: relative;
    width: 100%;

    height: 40px;
  }

  .treeReply { 
    margin-top: 25px;
    height: 100px;
    width: 350px;
    
  }

  .replyIcon { 
    position: absolute; 
    right: 20px;

    padding: 5px;
    .border(@borderSmall);

    cursor: pointer;
  }

  .replyIcon:hover { 
    background-color: @yellow;
  }

  .debugIcon {
    position: absolute;
    right: 55px;

    padding: 5px;
    .border(@borderSmall);

    cursor: pointer;
  }

  .debugIcon:hover {
    background-color: @yellow;
  }

  .bracket { 
    position: relative;
    width: 100%;
    display: block;
    height: 25px;

    border-color: @teal;
    border-top-width: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-style: ridge;
  }
  
  .leftBracket {
    left: 50%;
    width: 50%;

    border-top-left-radius: @borderMedium;
    border-left-width: 3px;
  }

  .rightBracket { 
    left: 0%;
    width: 50%;

    border-top-right-radius: @borderMedium;
    border-right-width: 3px;
  }

  .leftBracket.rightBracket { 
    left: 50%;
    width: 0px;

    border-top-left-radius: @borderSmall;
    border-left-width: 3px;

    border-top-right-radius: @borderSmall;
    border-right-width: 3px;
  }



/*
  .bracket {
    position: absolute;
    left: 0px;
    right: 0px;
    display: inline-block;
    height: 25px;

    border-color: @teal;
    border-top-width: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-style: ridge;
  }
  
  .topBracket { 
    left: 50%;
    border-top-left-radius: @borderMedium;
    border-left-width: 3px;
  }

  .botBracket { 
    right: 50%;
    border-top-right-radius: @borderMedium;
    border-right-width: 3px;
  }

  .bracket.topBracket.botBracket { 
    width: 0px;
    border-left-width: 0px;
    border-right-width: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
*/
}



/* ---- ---- ---- ---- */
/* Debug Info          */
/* ---- ---- ---- ---- */

.debugView { 
  position: fixed;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  width: 100%;
  height: 100%;
}

.debug {
  position: fixed;
  top: 0px; left: 0px; right: 0px; bottom: 0px;
  margin: auto;
  
  width: 500px;
  height: 300px;
  padding: 20px;

  background-color: @white;
  box-shadow: 0px 0px 5px 0px @shading;
  .border(@borderBig);

  .closeDebug { 
    float: right;
  }

  .closeDebug:hover {
    background-color: @yellow;
    cursor: pointer;
  }
}



/* ---- ---- ---- ---- */
/* 404                 */
/* ---- ---- ---- ---- */
#fourzerofour { 
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  width: 600px;

  h2 { 
    font-family: @fontLarge;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
  }

  h3 { 
    margin-top: 15px;
    font-family: @fontStylish;
    text-align: center;
  }

  img { 
    width: 600px;
    display: inline-block;
    box-shadow: 10px 10px 5px 5px @shading;
  }

}

/* ---- ---- ---- ---- */
/* Animations          */
/* ---- ---- ---- ---- */
.fadeable { 
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;
  opacity: 1;
}

.fade {
  opacity: 0;
}

.hidden { 
  display: none;
}

/* ---- ---- ---- ---- */
/* Forum Posts         */
/* ---- ---- ---- ---- */
.forumNode.ng-enter, .forumNode.ng-move {
  -webkit-transition: 0.5s all ease;
     -moz-transition: 0.5s all ease;
       -o-transition: 0.5s all ease;
          transition: 0.5s all ease;
             opacity: 0;
}
.forumNode.ng-leave .post {
  background-color: @yellow !important;
}
.forumNode.ng-enter.ng-enter-active, .forumNode.ng-move.ng-move-active {
  opacity:1;
}
.forumNode.ng-leave {
  -webkit-animation: 1.0s postanimation;
     -moz-animation: 1.0s postanimation;
       -o-animation: 1.0s postanimation;
          animation: 1.0s postanimation;
}
@keyframes postanimation {
  from { opacity: 1; } to { height: 0px; opacity: 0; }
}
@-webkit-keyframes postanimation{
  from { opacity: 1; } to { height: 0px; opacity: 0; }
}
@-moz-keyframes postanimation {
  from { opacity: 1; } to { opacity: 0; height: 0px; }
}
@-o-keyframes postanimation {
  from { opacity: 1; } to { height: 0px; opacity: 0; }
}

/* ---- ---- ---- ---- */
/* Reply Slide Box     */
/* ---- ---- ---- ---- */
.replyBox { 
  height: 0px;
  -webkit-transition: 0.4s max-height ease;
     -moz-transition: 0.4s max-height ease;
       -o-transition: 0.4s max-height ease;
          transition: 0.4s max-height ease;
}

.replyBox.slide { 
  height: 60px;
}


/* ---- ---- ---- ---- */
/* Flow Node Addition  */
/* ---- ---- ---- ---- */
.flowNode.ng-enter, .flow.ng-move {
  -webkit-transition: 0.5s all ease-in;
     -moz-transition: 0.5s all ease-in;
       -o-transition: 0.5s all ease-in;
          transition: 0.5s all ease-in;
  opacity: 0;
  max-height: 0px;
}
.flowNode.ng-enter.ng-enter-active, .flowNode.ng-move.ng-move-active {
  opacity: 1;
  max-height: 225px;
}
.flowNode.ng-leave {
  -webkit-animation: 1.0s postanimation;
     -moz-animation: 1.0s postanimation;
       -o-animation: 1.0s postanimation;
          animation: 1.0s postanimation;
}
@keyframes postanimation {
  from { opacity: 1; max-height: 225px;} to { max-height: 0px; opacity: 0; }
}
@-webkit-keyframes postanimation{
  from { opacity: 1; max-height: 225px;} to { max-height: 0px; opacity: 0; }
}
@-moz-keyframes postanimation {
  from { opacity: 1; max-height: 225px;} to { opacity: 0; max-height: 0px; }
}
@-o-keyframes postanimation {
  from { opacity: 1; max-height: 225px;} to { max-height: 0px; opacity: 0; }
}


